.header {
    padding: 12px;
    background: rgba(16, 16, 29, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;

    @media (min-width: 900px) {
        height: 100px;
        display: flex;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        width: 100%;
    }

    &__logo {
        flex: 0 0 auto;

        @media (min-width: 900px) {
            text-align: left;
        }
    }

    &__logo-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__logo-img {
        height: 32px;
        width: auto;
    }

    &__logo-text {
        font-family: Raleway;
        font-weight: 800;
        font-size: 25px;
        line-height: 100%;
        vertical-align: middle;
        text-transform: uppercase;
        color: $secondary-color;

        @media (min-width: 768px) {
            font-size: 28px;
        }
    }

    &__logo-highlights {
        color: #42A9ED
    }

    &__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: auto;

        &:focus {
        outline: 2px solid #007bff;
        outline-offset: 2px;
        }

        @media (min-width: 900px) {
            display: none;
        }
    
    }

    &__burger-line {
        display: block;
        width: 100%;
        height: 2px;
        background: $secondary-color;
        border-radius: 1px;
    }

    &__nav {
        position: fixed;
        top: 0;
        right: -80%;
        width: 80%;
        height: 100vh;
        background: #272733;
        transition: right 0.4s ease-out;
        z-index: 9;
        padding: 60px 20px 20px;
        box-sizing: border-box;

        &.active {
            right: 0;
        }

        @media (min-width: 900px) {
            display: block;
            flex: 0 0 auto;
            margin-left: auto;
            position: unset;
            width: auto;
            height: auto;
            background: none;
            padding: 0;
        }
    }

    &__close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 40px;
        line-height: 1;
        background: none;
        border: none;
        cursor: pointer;
        color: $secondary-color;
        transition: transform 0,4s;

        @media (min-width: 900px) {
            display: none;
        }
    }
    &__nav-list {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        gap: 12px;
        margin: 0;
        list-style: none;

        @media (min-width: 900px) {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 24px;
            flex-direction: row;
        }
    }

    &__nav-item {

        &:first-child {
            margin-left: 0;
        }
    }

    &__nav-link {
        display: block;
        padding: 8px 24px;
        text-align: left;
        text-decoration: none;
        color: $secondary-color;
        font-size: 16px;
        line-height: 1.5;

        &:hover {
            color: $primary-color;
        }

        @media (min-width: 900px) {
            text-decoration: none;
            color: $secondary-color;
            font-size: 14px;
            font-weight: 500;
            transition: color 0.3s;
            text-align: right;
            vertical-align: middle;
        }
    }
}
